


<html>
    <body>
      <h1>List of Subscribers</h1>
      <table>
        <thead>
          <tr>
            <th>Email</th>
            <th>Count</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for subscriber in subscribers %}
            <tr>
              <td>{{ subscriber.email }}</td>
              <td>{{ subscriber.count }}</td>
              <td>{{ subscriber.status }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </body>
  </html>
  